@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    font-family: 'Caveat', cursive;
    background-color: darkgray;
    color: 222222;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background-color: afafaf;
    padding: 50px;
    width: 100vw;
    min-height: 100vh;
    transform-origin: top left;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.cirlce button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #ffffff
}

.cirlce button#open {

}

